root = true

[*]
indent_style = space
charset = utf-8

[*.cs]
indent_size = 4
tab_width = 4
# if (...) {
#     ...
# }
csharp_new_line_before_open_brace = none
# if (...) {
#     ...
# } else {
#     ...
# }
csharp_new_line_before_else = false
# try {
#     ...
# } catch (Exception e) {
#     ...
# }
csharp_new_line_before_catch = false
# try {
#     ...
# } catch (Exception e) {
#     ...
# } finally {
#     ...
# }
csharp_new_line_before_finally = false
# 错误提示
dotnet_diagnostic.IDE0055.severity = error  